.card-component {
    height: 300px;
    border: 1px solid rgb(187, 179, 171);
    border-radius: 9px;
    padding-top: 10px;
    box-shadow: 0 10px 10px rgb(123, 153, 167);

}

.card-component img {
    height: 120px;
    width: 120px;
    border: 1px solid darkgray;
    border-radius: 50%;

}