.header-part {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 25px;

    grid-gap: 20px;

}

.left-site {
    color: rgb(27, 1, 44);
    border: 1px solid darkkhaki;
    border-radius: 10px;
    padding: 20px;

}

.left-site .btn {
    padding: 8px;

    color: rgb(11, 12, 12);
    border: 1px solid rgb(151, 189, 187);
    border-radius: 15px;
    background-color: rgb(40, 163, 143);
}

.right-site img {
    width: 500px;
    border: 1px solid darkkhaki;
    border-radius: 10px;

}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    margin: 3px 60px;

}





.btn-part {
    text-align: center;
}

.btn-part .button {
    color: rgb(9, 1, 19);
    background-color: rgb(40, 163, 143);

    padding: 8px;
    border: 1px solid cornflowerblue;
    border-radius: 13px;
    margin: 4px 3px;

}

.product-size {
    color: rgb(5, 25, 66);
    text-align: center;
}

@media only screen and (max-width: 676px) {
    .header-part {
        display: grid;
        grid-template-columns: 1fr;

        margin: 0 auto;

    }

    .products {
        display: grid;
        grid-template-columns: 1fr;

    }


}