.navbar {

    background-color: #234053;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    color: rgb(176, 243, 234);
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.navbar a:hover {
    color: aqua;

    padding: 15px;
}

@media only screen and (max-width: 676px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding-bottom: 15px;
    }

}